#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &to 0      &to 1      &to 2
&kp LC(Z)  &kp LC(Y)   &kp K_PP
&kp LC(X)  &kp LC(C)  &kp LC(V)
            >;
        };

        middle_layer {
            bindings = <
        &to 0  &to 1  &to 2
        &none  &none  &none
&kp LS(LG(S))  &none  &none
            >;
        };

        top_layer {
            bindings = <
&none  &none        &none
&none  &none        &none
&none  &none  &bootloader
            >;
        };
    };
};
